<!-- HelloDjango.html -->
<!DOCTYPE html>
<html>
<head>
<title>This is my first template!!</title>
<style>
body {
background-color: rgb(82, 78, 85);
}
em {
color: rgb(32, 178, 117);
}
</style>
</head>
<body>
<h1>CCCCCCCC</h1>
<h2>88888888</h2>
<h3>7777777</h3>
<p>666666</p>
<p>333333</p>
<p>Var1:{{var1}}</p>
<p>Var2:{{var2}}</p>
<p>Var3:{{var3}}</p>
<a href="https://ilearn.fcu.edu.tw/">iiiilearn</a>
<a href="{% url 'hiworld' %}">hiworld</a>
{% load static %}
<img src="{% static '/10s.jpg' %}" alt="菜就多練" width=500px length=1000px>
<em>{{ current_time }}</em>
</body>
</html>